@import url('http://fonts.googleapis.com/css?family=Lato:300');
 @import url('http://weloveiconfonts.com/api/?family=entypo'); 

body {
	  animation: colorBackground 15s infinite; /* Chrome, Firefox 16+, IE 10+, Opera 12.10+ */
     -webkit-animation: colorBackground 14s infinite; /* Chrome, Safari 5+ */
      -moz-animation: colorBackground 13s infinite; /* Firefox 5-15 */
        -o-animation: colorBackground 12s infinite; /* Opera 12.00 */
	
}
@keyframes colorBackground {
      0% { background-color: #1F568B; color: #1F568B; }
     20% { background-color: #0055A8; color: #0055A8; }
     40% { background-color: #51A9FF; color: #51A9FF; }
     60% { background-color: #3380CB; color: #3380CB; }
     80% { background-color: #74A8DC; color: #74A8DC; }
    100% { background-color: #225486; color: #225486; }
}
@-webkit-keyframes colorBackground {
    0% { background-color: #1F568B; color: #1F568B; }
     20% { background-color: #0055A8; color: #0055A8; }
     40% { background-color: #51A9FF; color: #51A9FF; }
     60% { background-color: #3380CB; color: #3380CB; }
     80% { background-color: #74A8DC; color: #74A8DC; }
    100% { background-color: #225486; color: #225486; }
}
@-moz-keyframes colorBackground {
       0% { background-color: #1F568B; color: #1F568B; }
     20% { background-color: #0055A8; color: #0055A8; }
     40% { background-color: #51A9FF; color: #51A9FF; }
     60% { background-color: #3380CB; color: #3380CB; }
     80% { background-color: #74A8DC; color: #74A8DC; }
    100% { background-color: #225486; color: #225486; }
}
@-o-keyframes colorBackground {
      0% { background-color: #1F568B; color: #1F568B; }
     20% { background-color: #0055A8; color: #0055A8; }
     40% { background-color: #51A9FF; color: #51A9FF; }
     60% { background-color: #3380CB; color: #3380CB; }
     80% { background-color: #74A8DC; color: #74A8DC; }
    100% { background-color: #225486; color: #225486; }
}
.tag {
    background: #eee;
    border-radius: 3px 0 0 3px;
    color: #999;
    display: inline-block;
    height: 23px;
    line-height: 22px;
    padding: 0px 12px 0px 21px;
    font-size: 11px;
    position: relative;
    margin: 0 5px 5px 0;
    text-decoration: none;
    -moz-transition: none;
    -webkit-transition: none;
    -o-transition: color 0 ease-in;
    transition: none;
}
header {
    background-color:rgb(31, 86, 139);
    color:white;
    text-align:center;
    padding:5px; 
	
}

section {
    width:350px;
    float:left;
    padding:10px; 
}

footer {
    background-color:#002B55;
    color:white;
    clear:both;
    text-align:center;
    padding:5px; 
}



p {
 
}

#nav{
}
ul#navbar{
	list-style-type: none;
}
ul#navbar li{
	display: block;
	width: 180px;
	background: #002B55;
	border: 1px solid #FBFBFB;
	border-left: 4px solid #002B55;
}
ul#navbar li a{
	display: block;
	color: #ffffff;
	font-size: 1.2em;
	padding: 20px 0 10px 40px;
	text-decoration: none;
	transition:all 0.3s ease;
	-webkit-transition:all 0.3s ease;
	-moz-transition:all 0.3s ease;
	-o-transition:all 0.3s ease;
}
ul#navbar li a:hover{
	padding-left: 50px;
	background: #002B55;
}


ul#navbar > li > ul{
	display: none;
}
ul#navbar > li:nth-child(2):hover > ul{
	position: absolute;
	display: block;
	left: 242px;
	top: 71px;
}
ul#navbar > li:nth-child(2) > ul > li{
	margin-left: -50px;
	background: #0033CC;
	border: 1px solid #4B4B4B;
	border-left: 2px solid #0033CC;
}
ul#navbar > li:nth-child(2) > ul > li > a:hover{
	padding-left: 50px;
	background: #002B55;
	border-left: 4px solid #808000;
}


ul#navbar > li:nth-child(3):hover > ul{
	position: absolute;
	display: block;
	left: 242px;
	top: 122px;
}
ul#navbar > li:nth-child(3):hover > ul > li{
	margin-left: -50px;
	background: #D50000;
	border: 1px solid #4B4B4B;
	border-left: 2px solid #002B55;
}
ul#navbar > li:nth-child(3):hover > ul > li> a:hover{
	padding-left: 45px;
	background: #00AAFF;
	border-left: 4px solid #808000;
}
ul#navbar > li:nth-child(3) > ul > li:first-child > a:hover{
	background: #00AAFF;
}
ul#navbar > li:nth-child(3) > ul > li:nth-child(2)> a:hover{
	background: #002AD5;
}
ul#navbar > li:nth-child(3) > ul > li:nth-child(3)> a:hover{
	background: #F74D22;
}
ul#navbar > li:nth-child(3) > ul > li:last-child> a:hover{
	background: #2222F7;
}


ul#navbar > li > ul > li > ul{
	display: none;
}
ul#navbar > li > ul > li:first-child:hover > ul{
	position: absolute;
	display: block;
	left: 182px;
	top: 0px;
}
ul#navbar > li > ul > li:first-child > ul > li{
	margin-left: -50px;
	background: #00AA80;
	border: 1px solid #4B4B4B;
	border-left: 2px solid #002B55;
}

ul#navbar > li > ul > li:nth-child(2):hover > ul{
	position: absolute;
	display: block;
	left: 182px;
	top: 53px;
}
ul#navbar > li > ul > li:nth-child(2) > ul > li{
	margin-left: -50px;
	background: #D58000;
	border: 1px solid #4B4B4B;
	border-left: 2px solid #002B55;
}

ul#navbar > li > ul > li:nth-child(3):hover > ul{
	position: absolute;
	display: block;
	left: 182px;
	top: 107px;
}
ul#navbar > li > ul > li:nth-child(3) > ul > li{
	margin-left: -50px;
	background: #D50055;
	border: 1px solid #4B4B4B;
	border-left: 2px solid #002B55;
}
ul#navbar > li > ul > li > ul > li > a:hover{
	padding-left: 50px;
	background: #00802B;
	border-left: 4px solid #D50000;
}
ul#navbar > li > ul > li > ul > li:last-child:hover > a:hover{
	padding-left: 30px;
	background: #00802B;
	border-left: 4px solid #D50000;
}


ul#navbar > li > ul > li > ul > li > ul{
	display: none;
}
ul#navbar > li > ul > li > ul > li:last-child:hover > ul{
	background: red;
	position: absolute;
	display: block;
	left: 182px;
	top: 215px;
}
ul#navbar > li > ul > li > ul > li > ul > li{
	margin-left: -50px;
	background: #550055;
	border: 1px solid #4B4B4B;
	border-left: px solid #002B55;
}
ul#navbar > li > ul > li > ul > li:last-child:hover > ul > li >a:hover{
	padding-left: 50px;
	background: #FF5500;
	border-left: 4px solid #FF00D5;
}

#arrow{
	font-size: 1em;
	margin-left: 40px;
	animation: arrow 2s infinite ease;
	-webkit-animation: arrow 2s infinite ease;
	-moz-animation: arrow 2s infinite ease;
	-o-animation: arrow 2s infinite ease;
}
@keyframes arrow{
	0%{
		margin-left: 40px;
	}
	50%{
		margin-left: 30px;
	}
	100%{
		margin-left: 40px;
	}
}
@-webkit-keyframes arrow{
	0%{
		margin-left: 40px;
	}
	50%{
		margin-left: 30px;
	}
	100%{
		margin-left: 40px;
	}
}
@-moz-keyframes arrow{
	0%{
		margin-left: 40px;
	}
	50%{
		margin-left: 30px;
	}
	100%{
		margin-left: 40px;
	}
}
@-o-keyframes arrow{
	0%{
		margin-left: 40px;
	}
	50%{
		margin-left: 30px;
	}
	100%{
		margin-left: 40px;
	}
}
.content {
  padding: 30px;
  font: 300 40px Tahamo;
  text-align: center;
  color: #fff;
  background: #1F568B;
}

.footer {
  padding: 20px 0;
  text-align: center;
  
}

.social {
  display: inline-block;
  width: 70px;
  height: 70px;
  margin: 0 10px;
  line-height: 70px;
  font-family: Entypo;
  font-size: 35px;
  text-align: center;
  color: #bbb;
  border-radius: 50%;
  background: #000;
  overflow: hidden;
  transition: color .3s;
}

.social:hover {
  color: #59d;
  cursor: pointer;
}
#header {position:relative;}
#header-content {width:100%;}
#header-logo {padding:1em; background:$color-pri;}
#header-nav {padding:1em; background:$color-sec;}
#header-nav-toggle {color:#fff; font-size:2em; position:absolute; top:.5em; right:.5em; z-index:1; cursor:pointer;}


/***********/
/* MODULES */
/***********/

/* Measure */
.measure {width:90%; max-width:800px; margin:0 auto;}

/* Logo */
.logo {color:#fff; font-weight:700; margin:0;}

/* Nav */
.nav {list-style:none; margin:0; padding:0;}
.nav li {width:100%; margin:0 0 1em 0; display:block;}
.nav li:last-child {margin:0;}
.nav a {color:#fff; text-decoration:none;}


/*************/
/* MODIFIERS */
/*************/
.is-hidden {display:none;}
.is-visible {display:block;}


/*****************/
/* MEDIA QUERIES */
/*****************/

@media screen and (min-width:600px) {
  /* Header */
  #header {padding:1em; background:$color-pri;}
  #header-content {max-width:800px; margin:0 auto; overflow:hidden;}
  #header-logo {padding:0; background:none; float:left;}
  #header-nav  {padding:.5em; background:none; float:right; display:block;}
  #header-nav-toggle {display:none;}
  
  /* Nav */
  .nav li {width:auto; margin:0 .5em; display:inline-block;}
  
}
#Frames, .Frame {
	list-style: none;
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	text-align: center;
}
#Frames {
  margin: 5% 0;
	width: 100%;
}
.Frame {
	display: inline-block;
	padding: 40px;
	border-width: 20px;
	border-style: solid;
	border-color: #2F2D2D #434040 #4F4C4C #434040;
	background: #f5f5f5;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#E5E4DF), to(#CDCDC6));
	background-image: -webkit-linear-gradient(#E5E4DF, #CDCDC6);
	background-image: -moz-linear-gradient(#E5E4DF, #CDCDC6);
	background-image: -o-linear-gradient(#E5E4DF, #CDCDC6);
	background-image: linear-gradient(#E5E4DF, #CDCDC6);
	box-shadow: inset 0 2px 5px rgba(0,0,0,.6),0 5px 2px rgba(0,0,0,.1), 0 10px 20px rgba(0,0,0,.8);
	position: relative;
	overflow: hidden;
}
.Frame::before {
	content: "";
	position: absolute;
	top: -175px;
	right: -20%;
	width: auto;
	height: 400px;
	transform: rotateZ(-40deg);
	-webkit-transform: rotateZ(-40deg);
	-moz-transform: rotateZ(-40deg);
	-o-transform: rotateZ(-40deg);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(255,255,255,.4)), to(rgba(255,255,255,0)));
	background-image: -webkit-linear-gradient(rgba(255,255,255,.4), rgba(255,255,255,0));
	background-image: -moz-linear-gradient(rgba(255,255,255,.4), rgba(255,255,255,0));
	background-image: -o-linear-gradient(rgba(255,255,255,.4), rgba(255,255,255,0));
	background-image: linear-gradient(rgba(255,255,255,.4), rgba(255,255,255,0));
}
.Frame img {
	border-width: 2px;
	border-style: solid;
	border-color: #BBBAB4 #C7C7BF #E5E4DF #C7C7BF;
	box-shadow:  0 -1px 1px rgba(0,0,0,.1), 0 1px 1px 1px rgba(255,255,255,.7);
}

*{ margin: 0px; padding: 0px;}
li{ list-style: none;}
a{text-decoration: none;color: #FFF;font-size: 16px;}
.clear{ clear: both;}
.wrapper{ width: 90%; height: 600px; background: rgba(248, 248, 248, 0.91); margin: 0px auto; -moz-border-radius: 10px;
-webkit-border-radius: 10px; 
    text-shadow: 2px 2px 4px #000000;     box-shadow: 2 10px 5px ;}
.main_menu{ background: #00A64B; margin-top: 20px;}
.main_menu>ul>li{ float: left;padding: 11px 27px; position: relative; border-right: 1px dotted #ACACAC;}
.main_menu>ul>li:last-child{ border-right: none;}
.main_menu>ul>li>ul{ display: none; position: absolute; background: #00A69B;top: 41px;width: 198px; left: 0px;}
.main_menu>ul>li:hover ul{ display: block;}
.main_menu ul li:hover{ background: #5F5C5C; transition: all 0.25s;}
.main_menu>ul>li>ul>li{ padding: 5px 10px;}
.main_menu>ul>li>ul>li{ border-bottom: 1px dotted #ACACAC;}

.txtt {
	margin-top: 30px;
	font-size: 250%;
	text-align: center;
}
.txtt h2{
	margin-top: 30px;
	font-size: 100%;
	text-align: center;
}
.seoer {
	margin-top: 30px;
	font-size: 850%;
	text-align: center;
    text-shadow: 4px 6px 7px rgb(0, 138, 255);
}
.se0 {
	margin-top: 30px;
	font-size: 100%;
	text-align: center;

}
.se02 {
	margin-top: 30px;
	font-size: 100%;
	text-align: center;

}
/* unvisited link */
.se0 a:link {
    color: rgb(0, 65, 255);
}

/* visited link */
.se0 a:visited {
    color: green;
}

/* mouse over link */
.se0 a:hover {
    color: hotpink;
}

/* selected link */
.se0 a:active {
    color: blue;
}

.se0 h3{
    color: blue;
}


.text-left a {
	color: red;
	font-size: 16px;
}
.konaki img {
	 display: block;
    margin: 0 auto;
}
.konaki .se0 {
	color: black;
}
.keyword .text-left {
	
}
.keol  {
		
	font-size: 30px;
	
}
hr {
	color: rgb(31, 86, 139);
	 border: 1;
	 
}

.bdtv textarea {
	  width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}
.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}